# Ignore all src directories except private and files with a dot
/odoo/auto
/odoo/custom/src/*/
!/odoo/custom/src/private/
!/odoo/custom/src/xtendoo/
!/odoo/custom/src/custom-ganafote/
!/odoo/custom/src/custom-luisbotello/
/odoo/custom/src/xtendoo/*/
!/odoo/custom/src/xtendoo/xtendoo_xtd_theme/
/odoo/custom/src/custom-ganafote/**
!/odoo/custom/src/custom-ganafote/ganafote_document_format/views/report_invoice.xml
/odoo/custom/src/custom-luisbotello/**
!/odoo/custom/src/custom-luisbotello/luis_botello_permisions/views/account_move_views.xml

# Ignore docker-compose.yml and overrides by default, to allow easy defaults per clone
/docker-compose.yml
/docker-compose.override.yml

# Compiled formats, cache, temporary files, git garbage
**.~
**.mo
**.py[co]
**.egg-info
**.orig

# User-specific or editor-specific development files and settings
.vscode/*
!/.vscode/*.jinja
!/.vscode/extensions.json
!/.vscode/launch.json
!/.vscode/settings.json
!/.vscode/tasks.json
/odoo/custom/src/private/.vscode/*
/.venv
/doodba.*.code-workspace
/src
.idea/*

# Project-specific docker configurations
/.docker/

# Local environment, dumps and runtime artifacts
/.env
/msc_19/
/odoo/auto/test-artifacts/
/odoo/custom/ssh/
